h1 {
    font-size: 150%;
    font-family: Times; color: Crimson;
}
h2 {
  font-size: 110%;
  font-family: Times; color: Black;
}
h3 {
  font-size: 120%;
  font-family: Times; color: indigo;
}

p {
    font-family: "Times";
    text-indent: 20px;
    margin-left: 10px;
}
#whole_page {
  background-color: pink;
}
#titles {
    width: 700px;
    min-height: 50px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}
#maintext {
  font-size: 20px;
}
#my-work {
  width: 700px
}
